/* Container Principal */
.PagamentosSearch_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px; /* Limita a largura para uma boa visualização em telas maiores */
  margin: 0 auto; /* Centraliza o container */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.PagamentosSearch_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.PagamentosSearch_header_back {
  color: #007BFF;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.PagamentosSearch_header_back:hover {
  color: #0056b3;
}

/* Texto Centralizado no Cabeçalho */
.PagamentosSearch_nbList1 {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  flex-grow: 1; /* Faz com que o título cresça e preencha o espaço restante */
}

/* Botão de Edição */
.PagamentosSearch_header_editBtn {
  font-size: 14px;
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.PagamentosSearch_header_editBtn:hover {
  background-color: #0056b3;
}

/* Descrição */
.PagamentosSearch_description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

/* Estilo para os botões */
.PagamentosSearch_buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.PagamentosSearch_buttons button {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.PagamentosSearch_buttons button:hover {
  background-color: #218838;
  transform: scale(1.02);
}

.PagamentosSearch_buttons button:active {
  background-color: #1e7e34;
  transform: scale(0.98);
}

/* Responsividade */
@media only screen and (max-width: 600px) {
  .PagamentosSearch_container {
    padding: 15px;
  }

  .PagamentosSearch_nbList1 {
    font-size: 16px;
    padding: 8px;
  }

  .PagamentosSearch_header_editBtn {
    font-size: 12px;
    padding: 6px 10px;
  }

  .PagamentosSearch_description {
    font-size: 14px;
  }

  .PagamentosSearch_buttons button {
    font-size: 14px;
    padding: 10px;
  }
}
