.PagamentosSearch_container {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}



.PagamentosSearch_datePicker {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 10px;
}


.PagamentosSearch_datePicker input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.FornecedorSearchCanais_btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4169e1;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  margin-right: 10px;
  padding: 7px 40px;
  font-size: 18px;
  cursor: pointer;
}

.PagamentosSearch_content {
  padding: 20px;
}


.PagamentosSearch_titleList {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  color: #52525b;
}

.PagamentosSearch_body {
  position: relative;
}
.Update_Pagamento_saveBtn {
  width: 100%;
  margin-top: 50px;
  background-color: #0074db;
  color: #fff;
  border-radius: 8px;
  /*padding: 10px;*/
  height: 40px;
}
.Update_Pagamento_deletBtn {
  width: 100%;
  margin-top: 50px;
  background-color: #db0000;
  color: #fff;
  border-radius: 8px;
  /*padding: 10px;*/
  height: 40px;
}

@media only screen and (max-width: 800px) {
  .PagamentosSearch_datePickerContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}


.PagamentosSearch_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Adiciona espaço entre os elementos */
}

.PagamentosSearch_header_left {
  display: flex;
  align-items: center;
  gap: 10px; /* Garante espaçamento entre o botão de data e os botões */
}

.PagamentosSearch_datePickerContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os dois inputs de data */
  margin-bottom: 0; /* Remove margem inferior para ajustar alinhamento */
}


.PagamentosSearch_buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os botões */
}

